.container {
    margin-top: 2em;
}

.main-content {
    border: 1px solid #eceeef;
    border-top: none;
    background-color: white;
    padding: 1em;
}

.dropdown-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown-group > .dropdown {  
    width: 30%;
}

.dropdown > .btn {  
    width: 100%;
}

.dropdown > .dropdown-menu {  
    width: 100%;
}

.upper-margin {
    margin-top: 1.5em;
}

.upper-margin-small {
    margin-top: 1em;
}

.output-container {
    max-height: 40em;
    overflow-y: scroll;
}

#request-output > li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

#request-output > li > .cname {
    font-style: italic;
    text-align: center;
}

#request-output > li > div > .time {
    font-weight: bold;
}

#request-output > li > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
